name: CI/CD-pipeline-AWS-ElasticBeanstalk
env:
  EB_PACKAGE_S3_BUCKET_NAME: "mdv-unre-flask-application-packages"
  EB_APPLICATION_NAME: "my-flask"
  EB_ENVIRONMENT_NAME: "MyFlask-env"
  DEPLOY_PACKAGE_NAME: "flask_app_${{ github.sha }}".zip
  AWS_REGION_NAME: "eu-central-1"
on:
  push:
    branches: [ master ]
jobs:
  My-CI-part:
    runs-on: ubuntu-latest
    steps:
      - name: "Git clone my repo "
      - uses: actions/checkout@v2

      - name: "CreateZIP Deployment Package"
        run : zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ -x *.git*
